/********** Colour reference chart*********
*************************** colour *******/ 
:root {
  --body-colour:#e6e2d3;
  --card-colour:#dac292;
  --buttons:#b9936c;
  --other:#c4b7a6;
  --text-colour:#ffffff;
  --shadow:  rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  /* Width and height apply to all parts of the element: content, padding and borders */
  box-sizing: border-box;
  color: var(--text-colour);
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--body-colour);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
}

.card {
  background-color:var(--card-colour);
  border-radius: 25px;
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  font-size: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 40px;
}

.card-header::after, .card-footer::before {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
  background: var(--other);
  height: 3px;
}

.card-body {
  min-height: 100px;
  text-align: center;
}

.card-high-scores {
  min-height: 100px;
  text-align: left;
}

.card-footer {
  text-align: center;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #b9936c;
  border-radius: 25px;
  box-shadow: var(--shadow) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.navbtn {
  border: none;
  background-color: #b9936c;
  border-radius: 5px;
  box-shadow: var(--shadow) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 16px 16px 16px 20px;
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
}

.card-footer .hide{
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--other);
  line-height: 1.5;
  font-size: 12px;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 17px;
  cursor: pointer;
  background-color: var(--buttons);
  font-size: 12px;
}

li button:hover {
  background-color: var(--card-colour);
}

.quiz h3 {
  /* list-style-type: none;
  padding: 0; */
  text-align: left;
  font-size: 18px;
}

.quiz ul {
  list-style-type: none;
  padding: 0;
}

.quiz li {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--card-colour);
  line-height: 1.5;
  font-size: 12px;
}

.quiz li:before {
  content: "\200B";
  position: absolute;
}

.quiz li::after {
  content: " ";
  display: block;
  clear: both;
}

.quiz li button {
  float: left;
  border: none;
  height: 17px;
  cursor: pointer;
  background-color: var(--buttons);
  font-size: 12px;
}

.quiz li button:hover {
  background-color: var(--card-colour);
}

#input{
 background-color: var(--body-colour);
 color: black;
}