/********** Colour reference chart*********
*************************** colour *******/ 
:root {
  --body-colour:#e6e2d3;
  --card-colour:#dac292;
  --buttons:#b9936c;
  --buttons-hover: rgb(104, 93, 75);
  --other:#c4b7a6;
  --text-colour:#ffffff;
  --shadow:  rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  /* Width and height apply to all parts of the element: content, padding and borders */
  box-sizing: border-box;
}

/* general classes / controls */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  display: block;
  clear: both;
}

.pointer, .quiz li {
  cursor: pointer;
}

/* body and wrapper */
html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-colour);
}

body {
  font-family: sans-serif;
  background-color: var(--body-colour);
}

h1{
  margin: 5px;
}

.wrapper {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 10px;
}

/* Header */
header {
  text-align: center;
  font-size: 1.2rem;
  padding: 0px;
  padding-top: 0px;
}

/* Card Header */
/* clears the floats within the header, View high score and time */
.card-header::after {
  content: " ";
  display: block;
  clear: both;
}

/* Card */
.card {
  background-color:var(--card-colour);
  border-radius: 25px;
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.card-aligncenter {
  min-height: 100px;
  text-align: center;
}

.card-alignleft {
  min-height: 100px;
  text-align: left;
}

/* Primary and secondary buttons */
.primary-btn {
  border: none;
  background-color: var(--buttons);
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  color: var(--text-colour);
}

.secondary-btn {
  border: none;
  background-color: var(--buttons);
  border-radius: 5px;
  display: inline-block;
  font-size: 0.75rem;
  margin: 16px 0px;
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
  width: 150px;
  color: var(--text-colour);
}

.primary-btn:hover, .secondary-btn:hover{
  background-color: var(--buttons-hover);
}

/* list modifications */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--other);
  line-height: 1.5;
  font-size: 0.75rem;
}

li span{
  margin-left: 90px;
  display: block;
}

li button {  
  float: left;
  display: block;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--buttons);
  font-size: 0.75rem;
  color: var(--text-colour);
}

li input {
  border: none;
  height: 17px;
  font-size: 0.75rem;
  width: 100%;
}

li button:hover {
  background-color: var(--buttons-hover);
}

/* Quiz settings */

.question {
  min-height: 40px;
  width: 100%;
  font-size: 1.1rem;
}
.options {
  min-height:150px;
}
.feedback {
  min-height: 20px;
  font-size: 1rem;
  text-align: center;
}

.options li {
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--buttons);
  line-height: 1.5;
  font-size: 0.75rem;
}

.options li:hover {
  background-color: var(--buttons-hover);
}

/* Admin question settings */
.modal {
  display: none;  
  color: var(--text-colour);
}

.input, .new-question {
  width: 100%;
}

/* media adjustments to work on phone, ipad and PC */
@media (max-width: 1024px) {
  .wrapper {
    padding-top: 60px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
  }

  .primary-btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 550px) {
  h1{
    font-size: 1.7rem;
  }
  
  .wrapper {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .card {
    font-size: 1rem;
  }
  .view-Scores{
    width: 90px;
  }

  .primary-btn {
    font-size: 0.8rem;
    width: 100%;
  }
  .secondary-btn {
    display: block;
    width: 100%;
  }

  li button {  
    font-size: 0.6rem;
  }

  li span{
    font-size: 0.6rem;
  }
}