/********** Colour reference chart*********
*************************** colour *******/ 
:root {
  --body-colour:#e6e2d3;
  --card-colour:#dac292;
  --buttons:#b9936c;
  --other:#c4b7a6;
  --text-colour:#ffffff;
  --shadow:  rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  /* Width and height apply to all parts of the element: content, padding and borders */
  box-sizing: border-box;
  color: var(--text-colour);
}

/* general classes / controls */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  display: block;
  clear: both;
}

.pointer, .quiz li {
  cursor: pointer;
}

/* body and wrapper */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--body-colour);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Header */
header {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  padding-top: 0px;
}

/* Card Header */
/* clears the floats within the header, View high score and time */
.card-header::after {
  content: " ";
  display: block;
  clear: both;
}

/* Card */
.card {
  background-color:var(--card-colour);
  border-radius: 25px;
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 40px;
}

.card-aligncenter {
  min-height: 100px;
  text-align: center;
}

.card-alignleft {
  min-height: 100px;
  text-align: left;
}

/* Primary and secondary buttons */
.primary-btn {
  border: none;
  background-color: var(--buttons);
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.secondary-btn {
  border: none;
  background-color: var(--buttons);
  border-radius: 5px;
  display: inline-block;
  font-size: 0.75rem;
  margin: 16px 16px 16px 20px;
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
}

.primary-btn:hover, .secondary-btn:hover{
  background-color: var(--other);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--other);
  line-height: 1.5;
  font-size: 0.75rem;
}

li button {
  float: right;
  border: none;
  height: 17px;
  cursor: pointer;
  background-color: var(--buttons);
  font-size: 0.75rem;
}

li button:hover {
  background-color: var(--card-colour);
}

/* Quiz settings */

.question {
  float: left;
  height: 100%;
  width: 70%;
  font-size: 1.1rem;
}
.options {
  height: 100%;
  width: 30%;
  float: left;
}
.feedback {
  display: block;
  clear: both;
  height: 30px;
  font-size: 1rem;
  text-align: center;
}

.options li {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--buttons);
  line-height: 1.5;
  font-size: 0.75rem;
}

.options li:hover {
  background-color: var(--card-colour);
}

@media (max-width: 768px) {
  .primary-btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 400px) {
  .primary-btn {
    font-size: 0.8rem;
  }
}